<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Snakes Quiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./css.css">
    <link rel="stylesheet" href="https://material.io/color/#!/?view.left=1&view.right=1&primary.color=FFE082&secondary.color=FFC107
  ">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>


    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container1">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	<!--span class="snake"><img src="snakelogo.png" alt="icon"></span-->
                	Snakes Quiz
                </a>
            </div>


            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="quiz">Quiz</a>
                    </li>
                    <li>
                        <a href="snakes">Snakes</a>

                    </li>

						</ul>
					</li>
                </ul>


				<form class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<input type="text" class="form-control">
					</div>
					<button type="submit" class="btn btn-default">Search</button>
				</form>

            </div>

        </div>

    </nav>
		
	<div class="jumbotron feature">
        <div class="container2">
            <h1>These are the answers to the Snake Quiz</h1>

            <div class="container">
                <h3>Which country has the most species of snake?</h3>
                <p>India</p>
                <h3>Which species is the largest snake measured in captivity?</h3>
                <p>Reticulated Python</p>
                <h3>Which of these python species is found in Africa?</h3>
                <p>Ball Python</p>
                <h3>Which snake is the Kingsnake often confused with due to its bright colours?</h3>
                <p>Coral Snake</p>
                <h3>How do pythons kill their prey?</h3>
                <p>Constriction</p>
                <h3>When Snakes on a Plane was released, two live snakes were set free during a showing in an Arizona cinema, which species were they?</h3>
                <p>Western Diamondback Rattlesnake</p>
                <h3>What colour pattern do Milk Snakes show?</h3>
                <p>White/Black/Red Stripes</p>
                <h3>Which snake isn't found in the UK?</h3>
                <p>Worm Snake</p>
                <h3>What is the average lifespan of a Royal Python</h3>
                <p>30 years</p>
                <h3>What species was the snake Britney Spears performed with at the 2001 MTV Video Music Awards</h3>
                <p>Albino Burmese Python</p>
            </div>
        </div>
    </div>

</body>

</html>
