<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Snake Quiz!</title>
</head>

<body>
	<h1>Snakes Quiz</h1>
	<form action='/quiz' method='POST'>
	    <ol>
	        {% for i in q %}
	            <li><u>{{i}}</u>?</li>
	            {% for j in q[i] %}
	                <input type='radio' value='{{j}}' name='{{i}}' />{{j}}
	            {% endfor %}
	        {% endfor %}
	    </ol>
	    <a href="/submit_quiz" class="button is-link">Submit</a>
	</form>
</body>

</html>